* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

body{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

.main-nav{
  background-color:  #F7CED7FF;
  width: 100%;
  color: #616161;
}

.nav{
  list-style-type: none;

  font-weight: 700;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

}

.nav li{
    display: inline;
    padding-right: 5px;

}

.name{
  color: #0499FF;
  margin-right: auto;

}

.blendersList{
  list-style: none;

  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;

}
