* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

html, body{
  overflow-x: hidden;
  width:100%;
}

body{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

.main-nav{
  background-color:  #F7CED7FF;
  width: 100%;
  color: #616161;
}

.nav{
  list-style-type: none;
  font-size:1.5rem;
  font-weight: 700;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
}


.nav li{
    display: inline;
    padding-right: 10px;
}

.name{
  color: #0499FF;
  margin-right: auto;

}

.blendersList{
  list-style: none;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

img{
  max-width: 50vw;
}

.blur {
  filter: blur(5px);
}

a {
  position: relative;
}

.btn{
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

 .btn:hover {
  background-color: black;
}

@media only screen and (max-width: 600px) {
    .btn {
        display: none;
    }
}
